<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Suite" thread-count='2' parallel="methods">
	<test name="actiTime">
		<classes>
			<class name="com.qa.actiTime.testCases.HomePageTest"></class>
			<class name="com.crm.qa.testCases.LoginPageTest"></class>
			
		</classes>
	</test>
</suite>